
@import '~antd/dist/antd.css';

html, body{
  overflow:'hidden';
}

.scrollable {
  top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    margin-top:250px;
    width:500px;
    min-width: 100px;
}

h4 {
  color: #F4B223;
  font-weight: bold
}

.Login-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: linear-gradient(linear, left top, right top, from(rgba(255,188,62,1)), color-stop(rgba(255,67,67,1)));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    }

.Login-input{
  margin: 15px;
}

.Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(linear, left top, right top from(rgba(255,188,62,1)), color-stop(rgba(255,67,67,1)));
    padding-bottom: 15px;
    border-radius: 25%;
    margin: 40px;
}

.Sign .Login-input{
  width: 250px;
}

.HomeThemes{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50%;
  border-width: 3;
  border-color: #F4B223;

}

.Button {
  background-color: #F4B223;
  border-radius: 7%;
  color: white;
  border-color: #F4B223;
  align-self: "flex-start";
  height: 5vh;
  width: 150px;
  margin-left: 20;
  margin-top: 10;
  margin: 5px;
}



.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #a66;
  color: #000;

}